.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 480px;

  @media screen and (min-width: 768px) {
    max-width: 768px;

    .footer & {
      display: flex;
    }
  }

  @media screen and (min-width: 1280px) {
    max-width: 1200px;
  }
}

.container div {
  margin-bottom: 40px;
}
