.what-we-have__item::before {
  content: "\2713";
  margin-right: 5px;
}

.about__text {
  line-height: 1.8;
  text-align: justify;

  & li {
    margin-left: 30px;
  }
}

.atestat__content {
  display: flex;
  align-items: center;
}
.atestat {
  width: 90%;
  margin: 0 40px;
  box-shadow: 0px 0px 5px 1px var(--light-green-color);
  border-radius: 5px;
  cursor: zoom-in;

  transition: transform var(--animation);

  &-clicked {
    transform: scale(2);
    cursor: zoom-out;
  }

  @media screen and (min-width: 768px) {
    width: 60%;
  }

  @media screen and (min-width: 1280px) {
    width: 30%;
  }
}
