.nakaz {
  text-decoration: underline;
}

.what-we-have__title {
  // margin-top: 50px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  // letter-spacing: 3px;
  // text-transform: uppercase;
  color: var(--light-green-color);
}

// .what-we-have__list .what-we-have__item {
//   margin: 0;
// }

.what-we-have__item:nth-child(odd) {
  background: linear-gradient(to right, #fff, rgba(161, 195, 35, 0.3));
}
.what-we-have__item:nth-child(even) {
  background: linear-gradient(to left, #fff, rgba(161, 195, 35, 0.3));
}

.what-we-have__item {
  padding: 20px 0;
  display: flex;

  & p {
    margin: 0 30px;
    width: 50%;
  }

  & .container {
    display: flex;
    align-items: center;
  }
}

.what-we-have__item p::before {
  content: "\2713";
  margin-right: 5px;
}
.research__item {
  margin-bottom: 10px;

  &::before {
    content: url(../images/arrow-right.svg);
    margin-right: 5px;
  }
}

.about__text {
  line-height: 1.8;
  text-align: justify;
}

.about__text__item {
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .atestat__content {
    display: flex;
    align-items: center;
  }
}

.atestat {
  box-shadow: 0px 0px 5px 1px var(--light-green-color);
  border-radius: 5px;
  cursor: zoom-in;

  transition: transform var(--animation);

  &-clicked {
    transform: scale(2);
    cursor: zoom-out;
  }

  @media screen and (min-width: 768px) {
    width: 60%;
    margin: 0 40px;
  }

  @media screen and (min-width: 1280px) {
    width: 30%;
  }
}
