.header {
  height: 70px;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0px -20px 34px 9px #2e4500;
  position: fixed;
  z-index: 3;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .header {
    height: 150px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;

    transform: translateY(0);
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);

    &-bg-index {
      background-image: url("../images/Depositphotos_365887680_xl-2015.jpg");
    }

    &-bg-lab {
      background-image: url("../images/test-2.jpg");
    }

    &-bg-contacts {
      background-image: url("../images/test-4.jpg");
    }

    &-is-scrolled {
      transform: translateY(-100%);
    }
  }
}

//======================= MENU =======================
nav {
  display: none;
}

@media screen and (min-width: 768px) {
  nav {
    display: block;
    width: 330px;
    height: 100%;
    margin-left: 40px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 16px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    height: 100%;

    transition: all var(--animation);

    &-is-scrolled {
      font-size: 14px;

      & .menu__item {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }

  .menu__item {
    color: var(--main-color);
    padding-top: 12px;
    padding-bottom: 12px;
    position: relative;

    transition: color var(--animation);

    &:hover,
    &:focus {
      color: var(--light-green-color);
    }

    // &::after {
    //   content: "";
    //   width: 0;
    //   height: 2px;
    //   background-color: var(--light-green-color);
    //   position: absolute;
    //   bottom: 20px;
    //   left: 0;

    //   transition: width var(--animation);
    // }

    // &:hover::after,
    // &:focus::after {
    //   width: 100%;
    // }

    &::before {
      content: url(./../images/arrow-right.svg);
      margin: 0 10px 0 0;
      transition: all var(--animation);
    }

    &:hover::before,
    &:focus::before {
      margin: 0 5px 0 5px;
      content: url(./../images/arrow-right-2.svg);
    }
  }

  .menu__item--active {
    color: var(--light-green-color);
  }
}

//====================================================

//======================= LOGO =======================
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: scale(1);
  }
  40% {
    // transform: translateY(-15px);
    transform: scale(1.2);
  }
  60% {
    // transform: translateY(-5px);
    transform: scale(1.1);
  }
}

@keyframes blick {
  0% {
    transform: translateX(-4em) skewX(-45deg);
  }
  20%,
  100% {
    transform: translateX(16em) skewX(-45deg);
  }
}

.logo {
  height: 65px;
  width: 150px;
  // padding-top: 10px;
  // margin-right: 10px;
  // margin-left: auto;
  position: fixed;
  top: 5px;
  right: 0;
  z-index: 2;
  overflow: hidden;
  // border-bottom: 50px solid rgb(255, 255, 255);
  // transition-delay: 0.2s;
  transition: all var(--animation);

  &::before {
    content: "";
    position: absolute;
    width: 1.5em;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    transform: translateX(-4em) skewX(-45deg);
    animation: blick 5s infinite;
  }

  .mob-menu.is-open + & {
    // position: fixed;
    height: 150px;
  }

  .mob-menu.is-open + &::after {
    content: linear-gradient(to top, white, transparent);
    position: absolute;
    width: 100%;
    height: 70%;
    bottom: -43%;
    left: 0;
    // background: linear-gradient(to top, white, transparent);
  }
}

@media screen and (min-width: 768px) {
  .logo {
    display: flex;
    width: 150px;
    height: 100%;
    margin-right: calc(50% - 75px);

    transform: scale(1);
    transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);

    &-is-scrolled {
      width: 100px;
      padding-top: 10px;
      margin-right: calc(50% - 50px);
    }

    &:hover,
    &:focus {
      animation: bounce 1s;
    }
  }
}
//====================================================

//====================== BURGER ======================
.burger {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: 15px;
  // padding: 10px 15px 10px 15px;
  border: none;
  background-color: transparent;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.burger__icon {
  display: flex;
  background-color: var(--light-green-color);
  width: 30px;
  height: 3px;
  border-radius: 4px;

  transition: all var(--animation);
}

.burger__icon::before,
.burger__icon::after {
  content: "";
  position: absolute;
  z-index: 5;
  background-color: var(--light-green-color);
  width: 30px;
  height: 3px;
  border-radius: 4px;

  transition: all var(--animation);
}

.burger__icon::before {
  transform: translateY(-10px);
}

.burger__icon::after {
  transform: translateY(10px);
}

//==== Animation ====
.burger.is-open .burger__icon {
  background-color: transparent;
}

.burger.is-open .burger__icon::before {
  transform: rotate(45deg);
}

.burger.is-open .burger__icon::after {
  transform: rotate(-45deg);
}
//=====================

@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
}

//==== Mob Menu ====
.mob-menu {
  font-size: 26px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  // font-weight: 500;
  // line-height: 1.18;
  // letter-spacing: 0.02em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  position: fixed;
  top: 69px;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 0;
  padding: 0 40px;
  background-color: #fff;
  // transform: translateY(-120%);
  opacity: 0;
  pointer-events: none;

  transition: all var(--animation);
}

// body:has(.is-open) {
//   overflow: hidden;
//   position: fixed;
//   height: 100%;
// }

.mob-menu.is-open {
  // transform: translateY(0);
  opacity: 1;
  height: calc(100vh - 69px);
  pointer-events: initial;
}

// .mob-menu__close-btn {
//   position: absolute;
//   top: 10px;
//   right: 15px;
//   background: transparent;
//   cursor: pointer;
//   border: none;
//   fill: currentColor;
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     fill: var(--active-color);
//   }
// }

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

// .mob-menu__link {
//   font-size: 40px;
//   // color: var(--main-color);

//   transition: color var(--animation);

//   // &:hover,
//   // &:focus {
//   //   color: var(--light-green-color);
//   // }
// }

.mob-menu__link--active {
  color: var(--light-green-color);
}

// .mob-menu__contacts {
//   margin-top: auto;

//   li:not(:last-child) {
//     margin-bottom: 32px;
//   }
// }

.mob-menu__tel {
  font-size: 30px;
  color: var(--medium-green-color);
  margin-bottom: 32px;
}

.mob-menu__mail {
  font-size: 30px;
  color: var(--medium-green-color);
  text-transform: none;
  // &:hover,
  // &:focus {
  //   color: var(--active-color);
  // }
}
