.accreditation {
  margin-top: 30px;
  margin-left: 50px;
  font-size: 18px;
  line-height: 1.5;
}

.accreditation__text {
  font-weight: 700;
}

.accreditation__item {
  margin-left: 20px;
  text-decoration: underline;
}

.substance {
  padding-top: 60px;
}

.substance__text {
  color: #fff;
  line-height: 3;
  width: 100%;

  background: linear-gradient(to right, #466900, #fff);
  border-radius: 5px;

  &::before {
    content: "❯";
    color: #fff;
    margin: 0 20px;
  }
}

.substance__list {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 18px;
  line-height: 1.5;
  //   display: inline;
}

.substance__item {
  position: relative;

  // transition: all var(--animation);

  &:hover,
  &:focus {
    background: linear-gradient(to right, #fff, #a1c323);
    border-radius: 5px;
  }

  & p {
    max-width: 50%;
  }
}

.substance__sub-item {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  max-width: 320px;
  visibility: hidden;
  opacity: 0;
  display: block;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 3px var(--light-green-color);
  border-radius: 5px;

  transition: all var(--animation);

  .substance__item:hover &,
  .substance__item:focus & {
    visibility: visible;
    opacity: 1;
  }
}

.accreditation-logo {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;

  & img {
    width: 15%;
    margin-left: 10px;
  }
}
